body {
    background-image:url(https://s1.1zoom.me/b5050/596/Evening_Forests_Mountains_Firewatch_Campo_Santo_549147_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color:red;
}